body {
  font-family: 'Nunito Sans', sans-serif!important;
}
.heading {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 2.5em;
}

.jumbotron{
  background-image: url(../images/riley-pope-89072-unsplash.jpg);
  background-size: cover;
  height:90vh;
}

.content{
  margin-top: 10em;
  margin-bottom: 10em;
}

.title-pad {
  padding-top:1.8em;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-title {
  margin-top: -2.5em;
  margin-left: .7em;
  color:#ffffff;
  font-size:2em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.card {
  margin-bottom: 5em!important;
}

/* img.map-image {
  height:100vh;
  position:absolute;
  top: 0;
  right: 0;
} */

.map {
  height:100vh;
}

/* show and hide map on scroll */
.hidden {
opacity:0;
}
.fade-in {
  transition:opacity .8s ease-in-out;
}

.show-map {
 opacity:1;
}

.position-fixed {
  top:0;
  right: 0;
}

.fade-out {
  transition:opacity .3s ease-in-out;
}

/* change marker color when active */
.grow {
  -webkit-transition: fill .4s ease-in-out;
	 	-moz-transition: fill .4s ease-in-out;
	 	-o-transition: fill .4s ease-in-out;
	 	transition: fill .4s ease-in-out;
  }

#marker.active {fill: coral;}
