body {
  font-family: 'Nunito Sans', sans-serif!important;
}


.heading {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 2.5em;
}

.jumbotron{
  background-image: url(../images/boulder-flatirons.jpg);
  background-size: cover;
  height:90vh;
}

.content{
  margin-top: 10em;
  margin-bottom: 10em;
}
.main-logo{
  max-width: 300px;
  z-index: 3;
}

.title-pad {
  /* padding-top:9.5em; */
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 600;
  color:#ffffff;
}
.logo {
  padding-bottom: 3em;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
}

.image-container img{
  padding-top: 5em;
  max-width: 300px;
  height:auto;

}



.card-title {
  margin-top: -2.8em;
  margin-left: .7em;
  color:#ffffff;
  font-size:2em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.card-subtitle {
  margin-top: -.8em!important;
  margin-left: 1.3em;
  color:#ffffff;
  font-size:1.2em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.card {
  margin-bottom: 5em!important;
}

.activity-icon{
  max-width: 2em;
  padding-right: .25em;
}



/* show and hide map on scroll */
.hidden {
opacity:0;
}
.fade-in {
  transition:opacity .8s ease-in-out ;
}

.show-map {
 opacity:1;
}

.position-fixed {
  top:0;
  right: 0;
  bottom:0;
}

.fade-out {
  transition:opacity .1s ease-in-out;
}


/* change marker color when active */
.grow {
  -webkit-transition: fill .4s ease-in-out;
	 	-moz-transition: fill .4s ease-in-out;
	 	-o-transition: fill .4s ease-in-out;
	 	transition: fill .4s ease-in-out;
  }

  #marker.active {
    fill: coral;
  }

/* .bigger {
  animation: pulsate 1s ease-in;
    animation-iteration-count: infinite;
    opacity: 0.0;
    box-shadow: 0 0 1px 2px #89849b;
    animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    transform-origin: center;
    opacity: 0.0;
  }

  50%{
    opacity: 1.0;
  }

  100% {
    transform: scale(1.2, 1.2);
    transform-origin: center;
    opacity: 0;
  }
} */


/* make main container dark blue */
/* .list-bg {
  background-color: #323E48;
} */

/* Footer */
.footer-top{
  height:20vh;
}
.footer-bottom {
 height:70vh;
 background-color: #323E48;
}

.footer-bottom p {
  color:#ffffff;
}
