body {
  font-family: 'Nunito Sans', sans-serif !important;
}

.heading {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 2.5em;
}

.jumbotron {
  background-image: url(../images/boulder-flatirons.jpg);
  background-size: cover;
  height: 90vh;
  position: relative;
}

.lead {
  font-size: 2.875rem !important;
  font-weight: 300;
  padding-top: 3em;
  color: white;
}

.welcome-wrapper {
  margin-top: 10em;
  margin-bottom: 10em;
}

.activities-wrapper {
  background-color: #e3e4e8;
  margin-top: 10em;
  margin-bottom: 10em;
  padding-bottom: 5em;
}

.main-logo {
  position: absolute;
  top: 60%;
  left: 40%;
  max-width: 300px;
  z-index: 3;
}

.title-pad {
  padding-top: 15em;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}

.logo {
  padding-bottom: .5em;
  padding-top: .5em;
}

.navbar {
  background-color: rgba(255, 255, 255);
}

.image-container img {
  padding-top: 5em;
  max-width: 300px;
  height: auto;
}

/* .card-title {
  margin-top: -2.8em;
  margin-left: .7em;
  color:#ffffff;
  font-size:2em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.card-subtitle {
  margin-top: -.8em!important;
  margin-left: 1.3em;
  color:#ffffff;
  font-size:1.2em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
} */
.card-title {
  margin-top: 2.1em;
  margin-left: 0;
  color: #ffffff;
  font-size: 2em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.card-subtitle {
  margin-top: -1.1rem !important;
  margin-left: 0;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.card {
  margin-bottom: 5em !important;
}

.card-body {
  padding: 2em !important;
  padding-bottom: 3em !important;
}

.title-wrapper {
  /* background-color: rgba(0, 0, 0, 0.2)!important; */
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.5), transparent);
  height: 10em !important;
  padding-left: 1.8em;
  margin-top: -10em;
}

.welcome-heading {
  padding-bottom: 2em;
}

.activity-icon {
  max-width: 2em;
  padding-right: .25em;
}

/* .blue-tooltip + .tooltip.bs-tooltip-bottom > .tooltip-inner {
 background:#1DAEEC !important;
 color:#ffffff!important;
 }

 .blue-tooltip + .tooltip > .arrow:before {
 border-bottom-color:#1DAEEC !important;
  border-top-color:#444 !important;
  } */
  
/* tooltip colors */
.animals>.tooltip-inner {
  background: #1DAEEC !important;
  color: #ffffff !important;
}

.animals>.arrow:before {
  border-bottom-color: #1DAEEC !important;
  border-top-color: #444 !important;
}

.tours>.tooltip-inner {
  background: #F3822F !important;
  color: #ffffff !important;
}

.tours>.arrow:before {
  border-bottom-color: #F3822F !important;
  border-top-color: #444 !important;
}

.farm-stand>.tooltip-inner {
  background: #45AB4F !important;
  color: #ffffff !important;
}

.farm-stand>.arrow:before {
  border-bottom-color: #45AB4F !important;
  border-top-color: #444 !important;
}

.sales>.tooltip-inner {
  background: #A5CD9C !important;
  color: #ffffff !important;
}

.sales>.arrow:before {
  border-bottom-color: #A5CD9C !important;
  border-top-color: #444 !important;
}

.volunteer>.tooltip-inner {
  background: #786E64 !important;
  color: #ffffff !important;
}

.volunteer>.arrow:before {
  border-bottom-color: #786E64 !important;
  border-top-color: #444 !important;
}

.workshops>.tooltip-inner {
  background: #B0A8A1 !important;
  color: #ffffff !important;
}

.workshops>.arrow:before {
  border-bottom-color: #B0A8A1 !important;
  border-top-color: #444 !important;
}

.dinners>.tooltip-inner {
  background: #000000 !important;
  color: #ffffff !important;
}

.dinners>.arrow:before {
  border-bottom-color: #000000 !important;
  border-top-color: #444 !important;
}

.picknicking>.tooltip-inner {
  background: #E9178B !important;
  color: #ffffff !important;
}

.picknicking>.arrow:before {
  border-bottom-color: #E9178B !important;
  border-top-color: #444 !important;
}

.wool>.tooltip-inner {
  background: #25428C !important;
  color: #ffffff !important;
}

.wool>.arrow:before {
  border-bottom-color: #25428C !important;
  border-top-color: #444 !important;
}

.pumpkin>.tooltip-inner {
  background: #F3822F !important;
  color: #ffffff !important;
}

.pumpkin>.arrow:before {
  border-bottom-color: #F3822F !important;
  border-top-color: #444 !important;
}

.corn>.tooltip-inner {
  background: #FDC33B !important;
  color: #ffffff !important;
}

.corn>.arrow:before {
  border-bottom-color: #FDC33B !important;
  border-top-color: #444 !important;
}

.hay-rides>.tooltip-inner {
  background: #8F4930 !important;
  color: #ffffff !important;
}

.hay-rides>.arrow:before {
  border-bottom-color: #8F4930 !important;
  border-top-color: #444 !important;
}

.you-pick>.tooltip-inner {
  background: #8F4930 !important;
  color: #ffffff !important;
}

.you-pick>.arrow:before {
  border-bottom-color: #8F4930 !important;
  border-top-color: #444 !important;
}

.x-mas>.tooltip-inner {
  background: #8F4930 !important;
  color: #ffffff !important;
}

.x-mas>.arrow:before {
  border-bottom-color: #8F4930 !important;
  border-top-color: #444 !important;
}

/* show and hide map on scroll */
.hidden {
  visibility: hidden;
  opacity: 0;
}

.fade-in {
  transition: opacity .8s ease-in-out;
}

.show-map {
  visibility: visible;
  opacity: 1;
}

.position-fixed {
  top: 93.5px;
  right: 0;
}

.fade-out {
  transition: opacity .1s ease-in-out;
}

/* change marker color when active */
.grow {
  -webkit-transition: fill .4s ease-in-out;
  -moz-transition: fill .4s ease-in-out;
  -o-transition: fill .4s ease-in-out;
  transition: fill .4s ease-in-out;
}

/* change color of map markers on scroll   */
.active path {
  fill: coral;
}

/* Footer */
.footer-top {
  height: 20vh;
}

.footer-bottom {
  height: 70vh;
  background-color: #323E48;
}

.footer-bottom p {
  color: #ffffff;
}

.footer-content {
  padding-top: 2em;
}
